langchain
langchain-community
langchain-ollama
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
chromadb
pypdf
streamlit
ragas
datasets
beautifulsoup4
gradio
python-dotenv
torch
torchvision